body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(109, 101, 101); ;
}

/*Header */
nav{
    align-items: left;
    background: #10101f;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 21px;
    height: 10vh;
   }



nav ul li {
    padding: 20px;
    
}

nav ul li a {
    color: #f5f5f6;
    text-decoration: none;
}

#mylogo{
    margin-left: auto;
    height: 80px;
}
#mylogo:hover{
        opacity: 0.3;
}

nav ul li a:hover{
    color: tomato;
}
 

main{
display: grid;
min-height: calc(100vh- 61px -100x) ;
grid-template-columns: 1fr 1fr 1fr;
margin-bottom: 0;
}
main article{padding: 3px;}
main img { width: 100%;}
main img:hover{  opacity: 0.8;}
/*articlees background */
article h1{ background: #10101f;
color: white;}
/*.article2 h1{ background:#10101f;}
.article2{background:rgb(56, 52, 52); height: auto; color: #f5f5f6;}
.article3 h1{ background: rgb(126, 71, 255);}
.article4 h1{ background: rgb(255, 71, 163);}
.article5 h1{ background: rgb(221, 255, 71);}
.article6 h1{ background: rgb(92, 255, 71);}
.article7 h1{ background: rgb(255, 71, 71);}
.article8 h1{ background: rgb(71, 99, 255);} */
/*article 1 & 2
.article1,.article2,.article3,.article4,.article5,.article6,.article7,.article8{border: 3px solid black;} */

/*article 1 & 2*/
.article1{
    grid-column-start: 1;
    grid-column-end: 3;
}
/*
.article6{
    grid-column-start: 1;
    grid-column-end: 4;

}
*/
.learning{
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 5px;
    height: auto;
    background: #10101f;
    color: #f5f5f6;
}
.learning:hover{
    color: tomato;
}

main article p:hover {color: tomato;}
main article h1:hover {color: tomato;}
main .article2 h1:hover {color: tomato;}


main .article1 img{
    width: 100%;
}
.article2 p{
    font-size: 30px;
    text-align: center;
    padding: 10px;

}
.article2 h1{
    font-size: 40px;
    text-align: center;

}
main p {
    padding: 10px;
}

main h1{
    text-align: center;
    font-size: 20px;
}

/*footer */
footer{
    background: url(../img/contact.jpg);
    margin-top: auto;
    height: 100px;
    color: white;
    position: sticky;
}

 footer ul li a {
    color: #10101f;
    text-decoration: none;
}

footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 21px;
   }
footer li {
    padding: 12px;
    margin-bottom: auto;
}



/* tablet screen*/
@media screen and (max-width: 768px) {
    nav ul {
        font-size: 18px;
        padding: 0;
    }
    #mylogo{
        height: 60px;
    }

    /*main content*/
    main{
        display: grid;
        min-height: calc(100vh- 63.33px -100px) ;
        grid-template-columns: 1fr 1fr;
        }
    .article1{
                width: 100%;
    }
    article{ grid-column-start: 1;
             grid-column-end: 3;
             width: 100%;
    }
    footer img {height: 20px;}
    footer h1{font-size: 17px;}
}





@media screen and (max-width: 480px) {
    nav ul {
        font-size: 18px;
        padding: 0;
    }
    #mylogo{
        height: 60px;
    }
    main{
        display: grid;
        min-height: calc(100vh- 63.33px -100px) ;
        grid-template-columns: 1fr 1fr;
        }
    .article1{
                width: 100%;
    }
    article{ grid-column-start: 1;
             grid-column-end: 3;
             width: 100%;
    }
}

