body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/* Header */
nav {
	display:block;
	height:85px;
	font-size:16px;
	font-weight:bold;
    background: #000000;
    border-bottom:2px solid #eb34e8;
}


nav #mylogo {
height: 70px;
float: right;
padding:7px 20px 0 20px;

}
nav #mylogo:hover{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  transition: 5s ease;
}


nav ul{
	margin:0px;
	padding:0;
	list-style-type:none;
	width:auto;
    }
nav ul li{
	display:block;
	float:left;
	margin:0;
    }

nav ul li a{
	display:block;
	color:#fff;
	text-decoration:none;
	padding:26px 10px 0 22px;
	height:39px;
	margin-bottom: 0%;
    }
    nav ul li a:hover {
       color: #eb34e8;
    }
	/* End of Header */
	main {
		padding:2px 2px 0 0px;
	}
	
#mainmenupic {
	height: 550px;
	border: #000000 solid 1px;
	margin: 3px;
}
#mainmenupic:hover{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.9;
	transition: 1s ease;
	background-color: #008CBA;
}

blockquote{
	height: 550px;
	width: 410px;
	float: right;
	border: solid 1px #000000;
	margin: 3px;
	background-color: #f4f2f5;
}
blockquote h1 {
	font-size: 40px;
	align-items: center;
	padding: 30px 20px 10px 20px;
	color: #000000;
}
blockquote p{
	padding: 30px 20px 10px 20px;
}
h2:hover{
	color: #eb34e8;
}
h1:hover{
	color: #eb34e8;
}


.blocks{
	width: 33.33%;
	float: right; 
	height: 500px;
	}

aside #blockimg{
	width: 415px;
	margin: 3px;
	padding: 30px 0px 10px ;
}
aside #blockimg:hover{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.6;
	transition: 2s ease;
	}
aside h2 {
	font-size: 20px;
	text-align: center;
	padding: 0px 20px 0px 20px;

}

aside p{
	text-align: center;
	padding: 1px 20px 10px 20px;
	font-size: 16;
 }

 .container { 
	 border-top: solid 1px #eb34e8;	
	 display: flex;
	padding: 1px;
	height: 100px;
}
footer ul {
	display: flex;
	padding: 30px 0 0 30px;
	list-style-type:none;
	
	
}

footer ul li {
	padding: 10px;
}

footer h2 {
	font-size: 20px;
	padding: 3px 20px 30px 30px;
	color:black;
}
.social-img:hover{
background: #eb34e8;
transition-duration: 300ms;
transition-property: all;
transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
footer p {
	padding: 55px 0 0 30px;
	font-size: 15px;
	color: black;
	text-align: center;
}


